<!DOCTYPE>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table, th, td {
  border: 1px solid;
}
</style>
</head>
<body>
 <div>
     <h3>Upload Multiple Files</h3>
     <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/uploadFiles} encType="multipart/form-data">
       <label for="name">User Name:</label>
  <input type="text" id="name" name="name"><br><br>
   <label for="email">Email:</label>
  <input type="text" id="mail" name="email"><br><br>
       <input type="file" name="files" multiple required />
       <button type="submit">Submit</button>
     </form>
   </div>
   
   <div>
     <h3>List of Documents</h3>
     <table>
       <thead>
         <tr>
           <th>Id</th>
           <th>UserName</th>
           <th>Email</th>
           <th>docName</th>
           <th>Download Link</th>
         </tr>
       </thead>
       <tbody>
         <tr th:each="doc:${docs}">
           <td th:text="${doc.Id}" />
           <td th:text="${doc.name}" />
           <td th:text="${doc.email}" />
            <td th:text="${doc.docName}"/>
           <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
         </tr>
       </tbody>
     </table>
   </div>
</body>
</html>