<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Table View</title>
<style>
table, th, td {
  border: 1px solid;
}
</style>
</head>
<body>
<h1>Display Record</h1>
		<table>
		<tr>

				<th>Name</th>
				<th>Email</th>
				<th>Title</th>
				<th>Image</th>
		</tr>
		<tr>
			  <tr th:each="file:${files}">
		   <td><span th:text="${file.name}"/></span></td>
            <td><span th:text="${file.email}"/></span></td>
             <td><span th:text="${file.title}"/></span></td>
				<td><img  th:src="@{'data:image/png;base64,'+${file.image}}" width="50"></img></td>		
					</tr>
			</th:each>		
			    
		  
		</table>	
</body>
</html>